---
import Boxes from "~/components/widgets/Boxes.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import Features from "~/components/widgets/Features.astro";
import Hero from "~/components/widgets/Hero.astro";
import InnerTitle from "~/components/widgets/InnerTitle.astro";
import Layout from "~/layouts/PageLayout.astro";
import { getProjectsByCategory } from "~/utils/projects";

const metadata = {
	title: "Build Dapps with Bitcoin Cash BCH",
	ignoreTitleTemplate: true,
};

const libraries = await getProjectsByCategory("build:library");
const docs = await getProjectsByCategory("build:docs");
const communities = await getProjectsByCategory("build:community");
const apis = await getProjectsByCategory("build:api");
const contracts = await getProjectsByCategory("build:contracts");
const protocols = await getProjectsByCategory("build:protocol");
const explorers = await getProjectsByCategory("build:explorer");
const network = await getProjectsByCategory("build:network");
const utilities = await getProjectsByCategory("build:utility");
const fullnodes = await getProjectsByCategory("build:fullnode");
const dapps = await getProjectsByCategory("build:dapp");
const cashtokensTooling = await getProjectsByCategory("cashtokens:devtool");
---

<Layout metadata={metadata}>
  <InnerTitle>
    <Fragment slot="title">Build Bitcoin Cash</Fragment>
    <Fragment slot="subtitle">You can build apps, services and more on Bitcoin Cash BCH.</Fragment>
  </InnerTitle>

  <Boxes
    title="How to Build with BCH"
    subtitle="Here are some recommended tools for building with Bitcoin Cash."
    highlight=""
    items={[
      {
        title: 'CashTokens Ecosystem',
        description: 'Explore the CashTokens ecosystem.',
        icon: 'https://static.panmoni.com/bitcoincashsite/cashtokenslogo.png',
        url: '/cashtokens',
      },
      ...libraries,
    ]}
  />

  <Boxes subtitle="BCH Documentation" items={docs} />

  <Boxes subtitle="Builder Communities" items={communities} />

  <Boxes subtitle="APIs" items={apis} />

  <Boxes subtitle="Smart Contracts" items={contracts} />

  <Boxes subtitle="Protocols" items={protocols} />

  <Boxes subtitle="BCH Block Explorers" items={explorers} />

  <Boxes subtitle="Network Tools" items={network} />

  <Boxes subtitle="Utilities" items={utilities} />

  <Boxes subtitle="BCH Full Nodes" items={fullnodes} />

  <Boxes subtitle="Example Dapps" items={dapps} />

  <Boxes subtitle="CashTokens Tooling" items={cashtokensTooling} />

  <Hero>
    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/arFDrjx_2JY"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <Features
    highlight=""
    title="Why Bitcoin Cash"
    subtitle="What makes Bitcoin Cash special and what can you do with it?"
    items={[
      {
        title: 'Micro-Fees',
        description:
          "With Bitcoin Cash, it costs almost nothing to send value from one side of the planet to the other. That's  more money in your pocket & new use cases.",
        icon: 'tabler:wallet',
      },
      {
        title: 'Scalable',
        description:
          'Bitcoin Cash is world-scale peer-to-peer electronic cash that can scale to serve billions of daily users. As you grow, Bitcoin Cash grows with you. No limits!',
        icon: 'tabler:trending-up',
      },
      {
        title: 'Unstoppable',
        description:
          "No one can close your Bitcoin Cash wallet or freeze your funds. With optional privacy and built-in censorship resistance, BCH can't be stopped!",
        icon: 'tabler:rocket',
      },
      {
        title: 'Safe Haven',
        description:
          'Hyper-inflation and other government corruption reducing the value of your bank deposits? withdrawals limited? Bitcoin Cash fixes that.',
        icon: 'tabler:shield-check',
      },
      {
        title: 'Remittances',
        description:
          'Send money home across the world right now, no forms, no limits, no rejected transactions and almost no fees. Now you can do that with Bitcoin Cash.',
        icon: 'tabler:cash',
      },
      {
        title: 'Cross-Border',
        description:
          'Pay for your goods and services across borders, without limits, bank costs, delays and with almost no fees. Bitcoin Cash works everywhere!',
        icon: 'tabler:world',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get BCH updates',
        href: 'https://t.me/bitcoincashsite',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">Get BCH Updates</Fragment>
    <Fragment slot="subtitle">Stay up-to-date with Bitcoin Cash!</Fragment>
  </CallToAction>
</Layout>
