---
import Boxes from "~/components/widgets/Boxes.astro";
import CallToAction from "~/components/widgets/CallToAction.astro";
import FAQs from "~/components/widgets/FAQs.astro";
import Features from "~/components/widgets/Features.astro";
import Hero from "~/components/widgets/Hero.astro";
import InnerTitle from "~/components/widgets/InnerTitle.astro";
import Layout from "~/layouts/PageLayout.astro";
import { getProjectsByCategory } from "~/utils/projects";

const metadata = {
	title: "BCH Support",
	ignoreTitleTemplate: true,
};

const discussion = await getProjectsByCategory("support:discussion");
const media = await getProjectsByCategory("support:media");
const podcasts = await getProjectsByCategory("support:podcast");
const general = await getProjectsByCategory("support:general");
const papers = await getProjectsByCategory("support:paper");
const utilities = await getProjectsByCategory("support:utility");
const financial = await getProjectsByCategory("support:financial");
---

<Layout metadata={metadata}>
  <InnerTitle>
    <Fragment slot="title">Bitcoin Cash Support</Fragment>
    <Fragment slot="subtitle">Connect with other builders and get support.</Fragment>
  </InnerTitle>

  <Boxes
    title="How to Get Help with BCH"
    subtitle="Bitcoin Cash has lots of support and discussion options for you."
    highlight=""
    items={discussion}
  />

  <Boxes subtitle="Media" items={media} />

  <Boxes subtitle="Podcasts & YouTube Channels" items={podcasts} />

  <Boxes subtitle="General BCH Websites" items={general} />

  <Boxes subtitle="Financial Services" items={financial} />

  <Boxes subtitle="Papers" items={papers} />

  <Boxes subtitle="Utilities" items={utilities} />

  <FAQs
    title="Bitcoin Cash FAQ"
    subtitle="Get your BCH questions answered."
    highlight=""
    items={[
      {
        title: 'Where is Bitcoin Cash based?',
        description:
          'Bitcoin Cash is not a corporation, foundation or other type of traditional entity. Bitcoin Cash is no more than a digital ledger. People use independently produced software tools to copy and change the ledger. Bitcoin Cash is available everywhere but has no corporate offices.',
      },
      {
        title: 'Who created Bitcoin Cash?',
        description:
          'An anonymous person or team by the name of Satoshi Nakamoto released the Bitcoin whitepaper and initial code to the world in 2008.',
      },
      {
        title: 'Does the government approve of Bitcoin Cash?',
        description:
          'Every government reacts a little differently to Bitcoin Cash. Mostly, we don’t care what governments and corporations think, because those entities are responsible for creating and perpetuating the financial exclusion problems that Bitcoin Cash solves.',
      },
      {
        title: 'What makes Bitcoin Cash unique?',
        description:
          'Bitcoin Cash is the entry-level cryptocurrency as it is bringing the world into the crypto ecosystem. BCH is decentralized as we have multiple development and marketing teams and it is not a corporate coin. Bitcoin Cash has, and will always have, extremely low fees, less than a penny. Bitcoin Cash serves the $90 trillion global cash use case, unlike any other major cryptocurrency. The BCH community is second to none, a group of people who are working hard to fulfill Satoshi’s original vision.',
      },
      {
        title: 'Is Bitcoin Cash BCH different from Bitcoin Core BTC?',
        description:
          'Yes. Bitcoin Cash is building the original vision of Bitcoin as described in Satoshi Nakamoto’s whitepaper with big blocks to serve the whole world, whereas Bitcoin Core BTC deprecates Bitcoin as a medium of exchange and artificially limits transactions, leading to expensive transaction fees and delays.',
      },
      {
        title: 'Why does Bitcoin Cash exist?',
        description:
          'Bitcoin Cash enables an alternative monetary system with a predictable emission schedule and without a central authority so that nation-states can not continue to inflate away the value of your savings and assets for their own private benefit. Bitcoin Cash unites a world of trade unlimited by borders. It ends financial exclusion in the developing world and elsewhere.',
      },
      {
        title: 'Is my Bitcoin Cash wallet tied to my identity?',
        description:
          'Your Bitcoin Cash wallet is controlled by your private key or recovery phrase, as the case may be. It is not tied to your name, identity, government identification card, passport, etc. You custody your funds, not banks. If you lose your private key or recovery phrase, no one can recover your BCH for you. So be sure to securely custody your Bitcoin Cash. Securely back up your private key or recovery phrase.',
      },
    ]}
  />

  <Hero>
    <Fragment slot="image">
      <div class="relative h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/arFDrjx_2JY"
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
    </Fragment>
  </Hero>

  <Features
    highlight=""
    title="Why Bitcoin Cash"
    subtitle="What makes Bitcoin Cash special and what can you do with it?"
    items={[
      {
        title: 'Micro-Fees',
        icon: 'tabler:wallet',
        description:
          "With Bitcoin Cash, it costs almost nothing to send value from one side of the planet to the other. That's  more money in your pocket & new use cases.",
      },
      {
        title: 'Scalable',
        icon: 'tabler:trending-up',
        description:
          'Bitcoin Cash is world-scale peer-to-peer electronic cash that can scale to serve billions of daily users. As you grow, Bitcoin Cash grows with you. No limits!',
      },
      {
        title: 'Unstoppable',
        icon: 'tabler:rocket',
        description:
          "No one can close your Bitcoin Cash wallet or freeze your funds. With optional privacy and built-in censorship resistance, BCH can't be stopped!",
      },
      {
        title: 'Safe Haven',
        icon: 'tabler:shield-check',
        description:
          'Hyper-inflation and other government corruption reducing the value of your bank deposits? withdrawals limited? Bitcoin Cash fixes that.',
      },
      {
        title: 'Remittances',
        icon: 'tabler:cash',
        description:
          'Send money home across the world right now, no forms, no limits, no rejected transactions and almost no fees. Now you can do that with Bitcoin Cash.',
      },
      {
        title: 'Cross-Border',
        icon: 'tabler:world',
        description:
          'Pay for your goods and services across borders, without limits, bank costs, delays and with almost no fees. Bitcoin Cash works everywhere!',
      },
    ]}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Get BCH updates',
        href: 'https://t.me/bitcoincashsite',
        target: '_blank',
      },
    ]}
  >
    <Fragment slot="title">Get BCH Updates</Fragment>
    <Fragment slot="subtitle">Stay up-to-date with Bitcoin Cash!</Fragment>
  </CallToAction>
</Layout>
